<footer>
  <section class="footer-main">
    <h3>The Glamper</h3>
    <div class="containers">
      <div class="small-card">
        <h4>Listing Office</h4>
        <div class="inner">
          <p>
            <img class="sm-icon" src="/icons/Asset 2.png" alt="" /> 123 UNB St.
          </p>
          <p id="city">Saint John NB, C3PO R2D2</p>
        </div>
        <p>
          <img class="sm-icon" src="/icons/Asset 3.png" alt="" /> 1-506-666-6666
        </p>
        <p>
          <img class="sm-icon-mail" src="/icons/Asset 4.png" alt="" />
          team1@project2.com
        </p>
      </div>
      <div class="small-card">
        <h4>Office Hours</h4>
        <div class="inner">
          <p>Mon-Tues-Thurs</p>
          <p>6:30 pm to 9:30 pm</p>
        </div>
        <br />
        <div class="inner">
          <p>Office Hours</p>
          <p>Optional</p>
        </div>
      </div>
      <div class="small-card">
        <h4>Get Social</h4>
        <div class="inner">
          <div class="inner-icons">
            <img class="md-icon" src="/icons/Asset 1.png" alt="" />
            <img class="md-icon" src="/icons/Asset 5.png" alt="" />
            <img class="md-icon" src="/icons/Asset 6.png" alt="" />
            
        </div>
        <button>Tage us in your photos!</button>
      </div>
    </div>
  </section>
</footer>
