<section class="gamp">
  <a id="gampClick" class="open-button" href="#">
    <img id="gamp" src="/images/Gamp.png" alt="image of gamp mascot" />
    <h3>Ask Gamp!</h3>
  </a>
</section>
<dialog class="modal" id="modal">
  <section class="gamp-card">
    <div class="gamp-header">
      <img src="/images/Gamp.png" " alt="image of gamp mascot"/>
      <H2 id="modal-title">
        Hi I am Gamp, can I help you find a destination today?</H2
      >
      <img class="exit-btn" src="/icons/exit.svg" alt="" />
    </div>
    <section id="q-section">
      <div class="gamp-questions"></div>
      <div class="gamp-answers">
        <ul></ul>
      </div>
    </section>
    <div id="gamp-options">
      <ul>
        <button id="gamp-questions-btn">Yes</button>
        <button class="button close-button gamp-close-btn">No thanks</button>
      </ul>
    </div>
  </section>
</dialog>
