<header>
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="header-logo">A</li>
      <li><a href="/">Home</a></li>
      <li><a href="/api/about">About</a></li>
      <li><a href="/api/adventures">Adventures</a></li>
      <li><a href="/api/Stories">Stories</a></li>
    </ul>
    <div>
      <a class="login" href="/login">Log In</a>
      <img
        class="settings-icon"
        src="/icons/Settings.png"
        alt="gear icon for settings "
      />
    </div>
  </nav>
</header>
