<header>
  <nav class="main-nav">
    <ul class="nav-list">
      <li class="header-logo">A</li>
      <li><a href="/">Home</a></li>
      <li><a href="/api/about">About</a></li>
      <li><a href="/api/adventures">Adventures</a></li>
      <li><a href="/api/Stories">Stories</a></li>
    </ul>
    <a class="login" href="#">Log In</a>
  </nav>
</header>
