<%-include('partials/head')  %>
  <body>
    <%-include("partials/nav") %>
    <div class="firstPic">
      <div class="welcome">
        <h2 class="welcomeT">WELCOME TO</h2>
        <h1 class="welcomeT2">ATLANTIC GLAMPING</h1>
        <h2 class="welcomeT3">
          Your incredible outdoor experience starts here!
        </h2>
      </div>
    </div>
    <hr class="rounded" />
    <div class="secondSlide">
      <h1>Welcome to your luxurious home away from home</h1>
      <p>
        When searching for a glamping destination in Atlantic Canada, one is
        immediately captivated by the region's natural beauty and diverse
        landscapes. From rugged coastlines to pristine forests, Atlantic Canada
        offers a wealth of options for those seeking a luxurious camping
        experience. The allure of waking up to the sound of waves crashing on
        the shore or birds chirping in the wilderness adds a unique charm to
        glamping in this region. Whether one seeks a waterfront yurt in Nova
        Scotia, or a secluded cabin with stunning views in New Brunswick,
        Atlantic Canada promises an unforgettable and immersive connection with
        nature. As the sun sets over the horizon and the stars begin to twinkle,
        glampers can bask in the serenity of the great outdoors, knowing that
        they have found a hidden gem in this breathtaking corner of Canada.When
        searching for a glamping destination in Atlantic Canada, one is
        immediately captivated by the region's natural beauty and diverse
        landscapes. From rugged coastlines to pristine forests, Atlantic Canada
        offers a wealth of options for those seeking a luxurious camping
        experience. The allure of waking up to the sound of waves crashing on
        the shore or birds chirping in the wilderness adds a unique charm to
        glamping in this region. Whether one seeks a waterfront yurt in Nova
        Scotia, or a secluded cabin with stunning views in New Brunswick,
        Atlantic Canada promises an unforgettable and immersive connection with
        nature. As the sun sets over the horizon and the stars begin to twinkle,
        glampers can bask in the serenity of the great outdoors, knowing that
        they have found a hidden gem in this breathtaking corner of Canada.
      </p>
      <h2>Glamp Finder</h2>
      <div class="form">
      <form>
        <label>Number of Guests:</label>
        <input type="number" name="f1" maxlength="1" size="1" value="" />
        <label>Number of Beds:</label> 
        <input type="number" name="f2" maxlength="1" size="1" value="" />
        <label>Waterfront:</label> 
        <input type="checkbox" name="f3" maxlength="" value="" />
        <label>Wi-fi:</label> 
        <input type="checkbox" name="f4" maxlength="" value="" />
        <label>Cell Services:</label> 
        <input type="checkbox" name="f5" maxlength="" value="" />
        <label>Fire Place:</label> 
        <input type="checkbox" name="f6" maxlength="" value="" />
        <label>Kitchen:</label> 
        <input type="checkbox" name="f7" maxlength="" value="" />
        <label>Electricity:</label> 
        <input type="checkbox" name="f8" maxlength="" value="" />
        <label>Shower:</label> 
        <input type="checkbox" name="f9" maxlength="" value="" />
        <label>Waterfront:</label> 
        <input type="checkbox" name="f10" maxlength="" value="" />
      </form>
      </div>
      <h2>
        Glamp Owner? Add your listing - it's easy. Join us today and lets make
        memories!
      </h2>
    </div>
    <hr class="rounded" />
    <div class="thirdSlide">
      <h1>Your Accomodations</h1>
      <div class="thirdSlideImages">
        <figure>
          <img
            src="/images/g1.jpg"
            alt="de luxe tent"
            height="300px"
            width="375px"
          />
          <figcaption>
            2 adults | 1 dog permitted <br />
            De Luxe room <br />
            from $189 a night
          </figcaption>
        </figure>
        <figure>
          <img
            src="/images/g2.jpeg"
            alt="de luxe seaview"
            height="300px"
            width="375px"
          />
          <figcaption>
            2 adults | 1 child below 7 | wi-fi <br />
            De Luxe Sea view <br />
            from $209 a night
          </figcaption>
        </figure>
        <figure>
          <img
            src="/images/g3.jpg"
            alt="family suite"
            height="300px"
            width="375px"
          />
          <figcaption>
            4 adults | 2 children below 7 | Restaurant <br />
            The Wellhall Family Suite <br />
            from $399 a night
          </figcaption>
        </figure>
      </div>
    </div>
    <hr class="rounded" />
    <div class="fourthSlide">
      <div>
        <h1>A space for everyone. The Family Suite</h1>
        <p>
          Glamping with the entire family in a yurt is an extraordinary and
          memorable experience that fosters a sense of togetherness and
          adventure. The circular canvas structure, reminiscent of ancient
          nomadic dwellings, provides a spacious and comfortable setting for all
          family members to enjoy. Nestled amidst nature's embrace, the yurt
          offers an escape from the hustle and bustle of daily life, allowing
          the family to reconnect and create lasting memories. Inside, the cozy
          furnishings and rustic charm offer a perfect balance between modern
          comfort and the allure of the great outdoors. From storytelling around
          a crackling campfire to stargazing through the skylight above, the
          yurt provides the ideal backdrop for family bonding. Whether exploring
          nearby trails, engaging in outdoor activities, or simply relishing the
          tranquility, glamping in a yurt with the entire family guarantees an
          unforgettable and enriching journey into the heart of nature.
        </p>
      </div>
      <figure>
        <img
          src="/images/f1.png"
          alt="family suite"
          width="700px"
          height="430px"
        />
        <figcaption>
          Re-connect with nature in a yurt that the whole family will enjoy!
        </figcaption>
      </figure>
    </div>
    <hr class="rounded" />
    <div class="fifthSlide">
      <figure>
        <img
          src="/images/s1.jpg"
          alt="hike"
          height="400px"
          width="600px"
        />
        <figcaption>Go Hiking!</figcaption>
      </figure>
      <figure>
        <img
          src="/images/s2.jpg"
          alt="kayak"
          height="400px"
          width="600px"
        />
        <figcaption>Go Kayaking!</figcaption>
      </figure>
    </div>
    <hr class="rounded" />
    <div class="thirdSlide">
      <h1>Popular Destinations</h1>
      <div class="thirdSlideImages">
        <figure>
          <img
            src="/images/k1.jpg"
            alt="de luxe tent"
            height="300px"
            width="300px"
          />
          <figcaption>
            <h2>Early Bird discount</h2>
            <br />
            10% off
          </figcaption>
        </figure>
        <figure>
          <img
            src="/images/k2.jpeg"
            alt="de luxe seaview"
            height="300px"
            width="300px"
          />
          <figcaption>
            <h2>Wellhall Members Club</h2>
            <br />
            Guaranteed booking, and exclusive offers
          </figcaption>
        </figure>
        <figure>
          <img
            src="/images/k3.jpg"
            alt="family suite"
            height="300px"
            width="300px"
          />
          <figcaption>
            <h2>Book 3 nights and get one night free</h2>
            <br />
            You read that right!
          </figcaption>
        </figure>
      </div>
    </div>
    <hr class="rounded" />
    <div class="secondPic">
      <h1 class="hate1">In the Press</h1>
      <div class="seventh">
        <h2 class="hate hate2"> Boost your product and service's credibility
          by adding testimonials from your clients.
          People love recommendations so feedback
          from others who've tried it is invaluable.
          -
          Santa Solana Post
      </h2>
      <h2 class="hate hate2"> Boost your product and service's credibility
          by adding testimonials from your clients.
          People love recommendations so feedback
          from others who've tried it is invaluable.
          -
          Mariana's Luxe Travels
      </h2>
      <h2 class="hate2 hate3"> Boost your product and service's credibility
          by adding testimonials from your clients.
          People love recommendations so feedback
          from others who've tried it is invaluable.
          -
          Fairhill Journal
          
      </h2>
      </div>
  </div>
</div>
<div class="media">
  <h1 class="glamp">The Glamper</h1>
  <div class="L">
      <div class="tobox"><h3>Listings Office</h3><h4>123 Anywhere St.</h4><h4>1123-456</h4><h4>glamp@glamper.com</h4></div>
      <div class="tobox"><h3>Office Hours</h3><h4>Monday to Friday</h4><h4>9:00 am to 6:00 pm</h4></div>
      <div class="tobox">
          <h3>Get Social</h3>
          <div>
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-instagram"></a>
          </div>
      </div>
  </div>
</div>
  </body>
</html>
