<%-include('partials/head')  %>
  <body>
    <%-include("partials/nav") %>

    <h1 class="title">About Us</h1>

    <h2 class="team1">Team 1</h2>

    <section="about-image"><center><img class="about" src="/images/team1.jpg"></center></section>

    <h2 class="team1">Project 2</h2>

    <p class="abouttext">Is this the real life? Is this just HTML fantasy? Caught in a codebase, no escape from divs and IDs. <br>
        Open up our laptops, look up to the screen and see... <br>
        they're just poor devs, they need no sympathy, 
        because they're easy coders, easy bugs, little high, lots of CSS... <br>
        anyway the server goes, doesn't
    really matter to these devs, to these devs. </p>
    
    <p class="abouttext">Mamaaa, just committed some code, put a semicolon against 
    the line, now it's compiling fine. <br>
    Mamaaa, the page had just begun, but now they've gone and refreshed 
    it all away. <br>
    Mama, ooh, didn't mean to make it crash, if they're not back online this time tomorrow, 
    carry on, carry on as if nothing really matters. <br></p>
    
    <p class="abouttext">Too late, project time has come, sends shivers down their 
    spines, bugs are crawling all the time. <br>
    Goodbye, everybody, they've got to go, gotta leave this line 
    behind and present the project truth. <br>
    Mama, ooh, their laptops didn't mean to break it all. They sometimes wish they'd
     never coded at all.
    </p>

    <p class="names">By: Aviad, Terence, Farrah and Abbasi</p>

    <%-include("partials/foot")  %>
</body>
</html>
