<%-include('partials/head')  %>
  <body>
    <%-include("partials/nav") %>

    <section class="content-boxes">
        <div class="left-nav">
            <h3 class="user-headings">Welcome<!-- username generated with javascript --></h3>
            <p><a class="user-links" href="">Change Password</a></p>
            <p><a class="user-links" href="">View Favourites</a></p>
            <p><a class="user-links"href="">Log Out</a></p>
        </div>

        <div class="right-nav">
            <h3 id="view-header">Recently Viewed<!-- Recently Viewed appends to Favourites generated with javascript --></h3>
            <div class="cards">
                <card><!-- cards generated with javascript --> </card>
            </div>
        </div>
    </section>

    <%-include("partials/foot")  %>
</body>
</html>