
.form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 10px;
}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.login-header {
    color: rgb(122, 35, 35);
}

.form-input {
    font-size: 18px;
}

label {
    font-size: 18px;
}

button {
    background-color: rgb(122, 35, 35);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 40px 10px 40px;
    border-radius: 12px;
    border: none;
}

.form-creatortext {
    color:rgb(122, 35, 35);
    font-size: 40px;
}

.creator-signup {
    font-size: 40px;
}
