.content-boxes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: 40px;
}

.left-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
}

.right-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 20px;
}

#view-header {
    display: flex;
    flex-direction: row;
}

h3 {
    color: rgb(122, 35, 35);
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
}

card {
    height: 250px;
    width: auto;
    background-color: rgba(128, 128, 128, 0.432);
    margin-bottom: 30px;
}

card:hover {
    transform: scale(1.2);
  }

a {
    color: black;
    text-decoration: none;
}

p,
li,
 a:hover {
    color: rgb(122, 35, 35);
  }

  .card-box {
    display: flex;
    flex-direction: column;
  }

li {
    list-style-type: none;
    text-align: center;
}