<!DOCTYPE html>
<html>
    <head>
        <title>Glamping</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div>
            <ul class="topNav">
                <li class="navElem"><a href="#">Home</a></li>
                <li class="navElem"><a href="#">About</a></li>
                <li class="navElem"><a href="#">Adventures</a></li>
                <li class="navElem"><a href="#">Stories</a></li>
                <li class="differLi navElem"><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="firstPic">
            <div class="welcome">
                <h2 class="welcomeT">WELCOME TO</h2>
                <h1 class="welcomeT2">ATLANTIC GLAMPING</h1>
                <h2 class="welcomeT3">Your incredible outdoor experience starts here!</h2>
            </div>
        </div>
        <hr class="rounded">
        <div class="secondSlide">
            <h1>Welcome to your luxurious home away from home</h1>
            <p>When searching for a glamping destination in Atlantic Canada, one is immediately captivated by the region's natural beauty and
                diverse landscapes. From rugged coastlines to pristine forests, Atlantic Canada offers a wealth of options for those seeking a
                luxurious camping experience. The allure of waking up to the sound of waves crashing on the shore or birds chirping in the
                wilderness adds a unique charm to glamping in this region. Whether one seeks a waterfront yurt in Nova Scotia, or a secluded
                cabin with stunning views in New Brunswick, Atlantic Canada promises an unforgettable and immersive connection with nature. As
                the sun sets over the horizon and the stars begin to twinkle, glampers can bask in the serenity of the great outdoors, knowing that
                they have found a hidden gem in this breathtaking corner of Canada.When searching for a glamping destination in Atlantic Canada, one is immediately captivated by the region's natural beauty and
                diverse landscapes. From rugged coastlines to pristine forests, Atlantic Canada offers a wealth of options for those seeking a
                luxurious camping experience. The allure of waking up to the sound of waves crashing on the shore or birds chirping in the
                wilderness adds a unique charm to glamping in this region. Whether one seeks a waterfront yurt in Nova Scotia, or a secluded
                cabin with stunning views in New Brunswick, Atlantic Canada promises an unforgettable and immersive connection with nature. As
                the sun sets over the horizon and the stars begin to twinkle, glampers can bask in the serenity of the great outdoors, knowing that
                they have found a hidden gem in this breathtaking corner of Canada.</p>
            <h2>Glamp Finder</h2>
            <form>
                <label>How many adults:</label>
                <input type="text" name="f1" maxlength="30" value="" />
                <label>Children allowed:</label> 
                <input type="text" name="f2" maxlength="30" value="" />
                <label>Waterfront:</label> 
                <input type="text" name="f3" maxlength="30" value="" />
                <label>Wi-fi:</label> 
                <input type="text" name="f4" maxlength="30" value="" />
                <label>Food provided:</label> 
                <input type="text" name="f5" maxlength="30" value="" />
                <label>Pets:</label> 
                <input type="text" name="f6" maxlength="30" value="" />
            </form>
            <h2>Glamp Owner? Add your listing - it's easy. Join us today and lets make memories!</h2>
        </div>
        <hr class="rounded">
        <div class="thirdSlide">
            <h1>Your Accomodations</h1>
            <div class="thirdSlideImages">
                <figure>
                    <img src="g1.jpg" alt="de luxe tent" height = "300px" width = "300px">
                    <figcaption>2 adults | 1 dog permitted <br> De Luxe room <br> from 189$ a night</figcaption>
                </figure>
                <figure>
                    <img src="g2.jpeg" alt="de luxe seaview" height="300px" width="300px">
                    <figcaption>2 adults | 1 child below 7 | wi-fi <br> De Luxe Sea view <br> from $209 a night</figcaption>
                </figure>
                <figure>
                    <img src="g3.jpg" alt="family suite" height="300px" width="300px">
                    <figcaption>4 adults | 2 children below 7 | Restaurant <br> The Wellhall Family Suite <br> from $399 a night</figcaption>
                </figure>
            </div>
        </div>
        <hr class="rounded">
        <div class="fourthSlide">
            <div>
                <h1>A space for everyone. The Family Suite</h1>
                <p>Glamping with the entire family in a yurt is an extraordinary and
                    memorable experience that fosters a sense of togetherness and
                    adventure. The circular canvas structure, reminiscent of ancient
                    nomadic dwellings, provides a spacious and comfortable setting for all
                    family members to enjoy. Nestled amidst nature's embrace, the yurt
                    offers an escape from the hustle and bustle of daily life, allowing the
                    family to reconnect and create lasting memories. Inside, the cozy
                    furnishings and rustic charm offer a perfect balance between modern
                    comfort and the allure of the great outdoors. From storytelling around
                    a crackling campfire to stargazing through the skylight above, the yurt
                    provides the ideal backdrop for family bonding. Whether exploring
                    nearby trails, engaging in outdoor activities, or simply relishing the
                    tranquility, glamping in a yurt with the entire family guarantees an
                    unforgettable and enriching journey into the heart of nature.
                </p>
            </div>
            <figure>
                <img src="f1.png" alt="family suite" width="2000px" height="600px">
                <figcaption>Re-connect with nature in a yurt that the whole family will enjoy!</figcaption>
            </figure>
        </div>
        <hr class="rounded">
        <div class="fifthSlide">
            <figure>
                <img src="s1.jpg" alt="hike" height = "700px" width = "1000px">
                <figcaption>Go on beautiful hikes!</figcaption>
            </figure>
            <figure>
                <img src="s2.jpg" alt="kayak" height="700px" width="1000px">
                <figcaption>Go Kayaking!</figcaption>
            </figure>
        </div>
        <hr class="rounded">
        <div class="thirdSlide">
            <h1>Popular Destinations</h1>
            <div class="thirdSlideImages">
                <figure>
                    <img src="g1.jpg" alt="de luxe tent" height = "300px" width = "300px">
                    <figcaption><h2>Early Bird discount</h2><br> 10% off</figcaption>
                </figure>
                <figure>
                    <img src="g2.jpeg" alt="de luxe seaview" height="300px" width="300px">
                    <figcaption><h2>Wellhall Members Club</h2><br> Guaranteed booking, and exclusive offers</figcaption>
                </figure>
                <figure>
                    <img src="g3.jpg" alt="family suite" height="300px" width="300px">
                    <figcaption><h2>Book 3 nights and get one night free</h2><br> You read that right!</figcaption>
                </figure>
            </div>
        </div>
        <hr class="rounded">
        <div class="secondPic">
            <div class="seventh">
                <br>
                <br>
                <br>
                <br>
                <br>
                <h1>In the Press</h1>
                <br>
                <br>
                <br>
                <div class="sL">
                    <div><h1>"</h1><br><h2>10/10</h2><h3>Fredericton Gazette</h3></div>
                    <div><h1>"</h1><br><h2>Best thing I've ever done!</h2><h3>Fredericton Express</h3></div>
                    <div><h1>"</h1><br><h2>Just WOW!</h2><h3>Fredericton Times</h3></div>
                </div>
            </div>
        </div>
        <div class="media">
            <h1>The Glamper</h1>
            <div class="L">
                <div class="tobox"><h3>Listings Office</h3><h4>123 Anywhere St.</h4><h4>1123-456</h4><h4>glamp@glamper.com</h4></div>
                <div class="tobox"><h3>Office Hours</h3><h4>Monday to Friday</h4><h4>9:00 am to 6:00 pm</h4></div>
            </div>
        </div>
    </body>
</html>